@model MarbleAndEarth.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
	<div class="">
		<hr />
	</div>
	<div class="row">
		<div class="col-lg-3">
			<h2>
				@Html.DisplayNameFor(model => model.Name):
			</h2>

			<h4>
				@Html.DisplayFor(model => model.Name)
			</h4>
		</div>
		<div class="col-lg-3">
			<h2>
				@Html.DisplayNameFor(model => model.Type):
			</h2>

			<h4>
				@Html.DisplayFor(model => model.Type)
			</h4>
		</div>
		<div class="col-lg-3">
			<h2>
				@Html.DisplayNameFor(model => model.Price)
			</h2>

			<h4>
				@Html.DisplayFor(model => model.Price)
			</h4>
		</div>
		<div class="col-lg-3">
			<h2>
				@Html.DisplayNameFor(model => model.Qty) currently avalable:
			</h2>

			<h3>
				@Html.DisplayFor(model => model.Qty)
			</h3>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<h5>
					<span class="">@Html.DisplayNameFor(model => model.Description)</span>
				</h5>

				<p>
					@Html.DisplayFor(model => model.Description)
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<img src="@Html.DisplayFor(model => model.Image)" alt="image to be hear" />

			</div>
		</div>


	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h4>How many would you like to purchase?</h4>
		<button class="btn btn-primary">Add to cart</button>
	</div>
</div>
<p>
    @Html.ActionLink("Return to store page", "Index")
</p>
